<?xml version="1.0"?>
<config version="9.0.0">
    <mgt-config>
        <users>
            <entry name="admin">
                <phash>*</phash>
                <permissions>
                    <role-based>
                        <superuser>yes</superuser>
                    </role-based>
                </permissions>
            </entry>
        </users>
        <password-complexity>
            <enabled>yes</enabled>
            <minimum-length>8</minimum-length>
        </password-complexity>
    </mgt-config>
    <shared>
        <application/>
        <application-group/>
        <service/>
        <service-group/>
        <botnet>
            <configuration>
                <http>
                    <dynamic-dns>
                        <enabled>yes</enabled>
                        <threshold>5</threshold>
                    </dynamic-dns>
                    <malware-sites>
                        <enabled>yes</enabled>
                        <threshold>5</threshold>
                    </malware-sites>
                    <recent-domains>
                        <enabled>yes</enabled>
                        <threshold>5</threshold>
                    </recent-domains>
                    <ip-domains>
                        <enabled>yes</enabled>
                        <threshold>10</threshold>
                    </ip-domains>
                    <executables-from-unknown-sites>
                        <enabled>yes</enabled>
                        <threshold>5</threshold>
                    </executables-from-unknown-sites>
                </http>
                <other-applications>
                    <irc>yes</irc>
                </other-applications>
                <unknown-applications>
                    <unknown-tcp>
                        <destinations-per-hour>10</destinations-per-hour>
                        <sessions-per-hour>10</sessions-per-hour>
                        <session-length>
                            <maximum-bytes>100</maximum-bytes>
                            <minimum-bytes>50</minimum-bytes>
                        </session-length>
                    </unknown-tcp>
                    <unknown-udp>
                        <destinations-per-hour>10</destinations-per-hour>
                        <sessions-per-hour>10</sessions-per-hour>
                        <session-length>
                            <maximum-bytes>100</maximum-bytes>
                            <minimum-bytes>50</minimum-bytes>
                        </session-length>
                    </unknown-udp>
                </unknown-applications>
            </configuration>
            <report>
                <topn>100</topn>
                <scheduled>yes</scheduled>
            </report>
        </botnet>
    </shared>
    <devices>
        <entry name="localhost.localdomain">
            <network>
                <interface>
                    <ethernet tag="Children_added_by_terraform">
%{ for interface in interfaces ~}
                        <entry name="${interface.name}">
                            <layer3>
                                <ip>
                                    <entry name="${interface.ipv4_address}${interface.ipv4_subnet_mask}"/>
                                </ip>
                                <interface-management-profile>allow_https</interface-management-profile>
                                <lldp>
                                    <enable>no</enable>
                                </lldp>
                            </layer3>
                        </entry>
%{ endfor ~}
                    </ethernet>
                </interface>
                <profiles>
                    <monitor-profile>
                        <entry name="default">
                            <interval>3</interval>
                            <threshold>5</threshold>
                            <action>wait-recover</action>
                        </entry>
                    </monitor-profile>
                    <interface-management-profile tag="Children_added_by_terraform">
                        <entry name="allow_https" tag="Managed_by_terraform">
                            <permitted-ip>
                                <entry name="192.168.0.0/16"/>
                                <entry name="172.16.0.0/12"/>
                                <entry name="10.0.0.0/8"/>
                                <entry name="35.191.0.0/16"/>
                                <entry name="130.211.0.0/22"/>
                            </permitted-ip>
                            <https>yes</https>
                        </entry>
                    </interface-management-profile>
                </profiles>
                <ike>
                    <crypto-profiles>
                        <ike-crypto-profiles>
                            <entry name="default">
                                <encryption>
                                    <member>aes-128-cbc</member>
                                    <member>3des</member>
                                </encryption>
                                <hash>
                                    <member>sha1</member>
                                </hash>
                                <dh-group>
                                    <member>group2</member>
                                </dh-group>
                                <lifetime>
                                    <hours>8</hours>
                                </lifetime>
                            </entry>
                            <entry name="Suite-B-GCM-128">
                                <encryption>
                                    <member>aes-128-cbc</member>
                                </encryption>
                                <hash>
                                    <member>sha256</member>
                                </hash>
                                <dh-group>
                                    <member>group19</member>
                                </dh-group>
                                <lifetime>
                                    <hours>8</hours>
                                </lifetime>
                            </entry>
                            <entry name="Suite-B-GCM-256">
                                <encryption>
                                    <member>aes-256-cbc</member>
                                </encryption>
                                <hash>
                                    <member>sha384</member>
                                </hash>
                                <dh-group>
                                    <member>group20</member>
                                </dh-group>
                                <lifetime>
                                    <hours>8</hours>
                                </lifetime>
                            </entry>
                        </ike-crypto-profiles>
                        <ipsec-crypto-profiles>
                            <entry name="default">
                                <esp>
                                    <encryption>
                                        <member>aes-128-cbc</member>
                                        <member>3des</member>
                                    </encryption>
                                    <authentication>
                                        <member>sha1</member>
                                    </authentication>
                                </esp>
                                <dh-group>group2</dh-group>
                                <lifetime>
                                    <hours>1</hours>
                                </lifetime>
                            </entry>
                            <entry name="Suite-B-GCM-128">
                                <esp>
                                    <encryption>
                                        <member>aes-128-gcm</member>
                                    </encryption>
                                    <authentication>
                                        <member>none</member>
                                    </authentication>
                                </esp>
                                <dh-group>group19</dh-group>
                                <lifetime>
                                    <hours>1</hours>
                                </lifetime>
                            </entry>
                            <entry name="Suite-B-GCM-256">
                                <esp>
                                    <encryption>
                                        <member>aes-256-gcm</member>
                                    </encryption>
                                    <authentication>
                                        <member>none</member>
                                    </authentication>
                                </esp>
                                <dh-group>group20</dh-group>
                                <lifetime>
                                    <hours>1</hours>
                                </lifetime>
                            </entry>
                        </ipsec-crypto-profiles>
                        <global-protect-app-crypto-profiles>
                            <entry name="default">
                                <encryption>
                                    <member>aes-128-cbc</member>
                                </encryption>
                                <authentication>
                                    <member>sha1</member>
                                </authentication>
                            </entry>
                        </global-protect-app-crypto-profiles>
                    </crypto-profiles>
                </ike>
                <qos>
                    <profile>
                        <entry name="default">
                            <class>
                                <entry name="class1">
                                    <priority>real-time</priority>
                                </entry>
                                <entry name="class2">
                                    <priority>high</priority>
                                </entry>
                                <entry name="class3">
                                    <priority>high</priority>
                                </entry>
                                <entry name="class4">
                                    <priority>medium</priority>
                                </entry>
                                <entry name="class5">
                                    <priority>medium</priority>
                                </entry>
                                <entry name="class6">
                                    <priority>low</priority>
                                </entry>
                                <entry name="class7">
                                    <priority>low</priority>
                                </entry>
                                <entry name="class8">
                                    <priority>low</priority>
                                </entry>
                            </class>
                        </entry>
                    </profile>
                </qos>
                <virtual-router>
                    <entry name="default">
                        <protocol>
                            <bgp>
                                <enable>no</enable>
                                <dampening-profile>
                                    <entry name="default">
                                        <cutoff>1.25</cutoff>
                                        <reuse>0.5</reuse>
                                        <max-hold-time>900</max-hold-time>
                                        <decay-half-life-reachable>300</decay-half-life-reachable>
                                        <decay-half-life-unreachable>900</decay-half-life-unreachable>
                                        <enable>yes</enable>
                                    </entry>
                                </dampening-profile>
                            </bgp>
                        </protocol>
                        <interface tag="Children_added_by_terraform">
%{ for interface in interfaces ~}
                            <member>${interface.name}</member>
%{ endfor ~}
                        </interface>
                        <routing-table>
                            <ip>
                                <static-route>%{ for interface in interfaces ~}%{ for static_route in interface.static_routes}
                                    <entry name="${static_route.name}">
                                        <nexthop>
                                            <ip-address>${interface.ipv4_gateway}</ip-address>
                                        </nexthop>
                                        <bfd>
                                            <profile>None</profile>
                                        </bfd>
                                        <path-monitor>
                                            <enable>no</enable>
                                            <failure-condition>any</failure-condition>
                                            <hold-time>2</hold-time>
                                        </path-monitor>
                                        <interface>${interface.name}</interface>
                                        <metric>10</metric>
                                        <destination>${static_route.destinationRange}</destination>
                                        <route-table>
                                            <unicast/>
                                        </route-table>
                                    </entry>%{ endfor ~}
%{ endfor ~}

                                </static-route>
                            </ip>
                        </routing-table>
                    </entry>
                </virtual-router>
            </network>
            <deviceconfig>
                <system>
                    <type>
                        <dhcp-client>
                            <send-hostname>yes</send-hostname>
                            <send-client-id>no</send-client-id>
                            <accept-dhcp-hostname>yes</accept-dhcp-hostname>
                            <accept-dhcp-domain>no</accept-dhcp-domain>
                        </dhcp-client>
                    </type>
                    <update-server>updates.paloaltonetworks.com</update-server>
                    <update-schedule>
                        <threats>
                            <recurring>
                                <weekly>
                                    <day-of-week>wednesday</day-of-week>
                                    <at>01:02</at>
                                    <action>download-only</action>
                                </weekly>
                            </recurring>
                        </threats>
                    </update-schedule>
                    <timezone>US/Pacific</timezone>
                    <service>
                        <disable-telnet>yes</disable-telnet>
                        <disable-http>yes</disable-http>
                    </service>
                </system>
                <setting>
                    <config>
                        <rematch>yes</rematch>
                    </config>
                    <management>
                        <hostname-type-in-syslog>FQDN</hostname-type-in-syslog>
                    </management>
                </setting>
            </deviceconfig>
            <vsys>
                <entry name="vsys1">
                    <application/>
                    <application-group/>
                    <zone tag="Children_added_by_terraform">
%{ for interface in interfaces ~}
                        <entry name="${interface.network_name}" tag="Managed_by_terraform" uuid="${uuid()}">
                            <network>
                                <layer3>
                                <member>${interface.name}</member>
                                </layer3>
                            </network>
                        </entry>
%{ endfor ~}
                    </zone>
                    <service/>
                    <service-group/>
                    <schedule/>
                    <rulebase>
                        <security>
                            <rules>%{if 0 < length(lb_config)}
                                <entry name="GCP_HealthChecks" uuid="${uuid()}">
                                    <to>
                                        <member>any</member>
                                    </to>
                                    <from>
                                        <member>any</member>
                                    </from>
                                    <source>
                                        <member>35.191.0.0/16</member>
                                        <member>130.211.0.0/22</member>
                                    </source>
                                    <destination>
                                        <member>any</member>
                                    </destination>
                                    <source-user>
                                        <member>any</member>
                                    </source-user>
                                    <category>
                                        <member>any</member>
                                    </category>
                                    <application>
                                        <member>any</member>
                                    </application>
                                    <service>
                                        <member>any</member>
                                    </service>
                                    <hip-profiles>
                                        <member>any</member>
                                    </hip-profiles>
                                    <action>allow</action>
                                </entry>%{ endif }
                            </rules>
                        </security>
                        <pbf>
                            <rules>%{if 0 < length(lb_config)}
                                <entry name="PBF-HealthChecks"  uuid="${uuid()}">
                                    <action>
                                        <no-pbf/>
                                    </action>
                                    <from>
                                        <interface tag="Children_added_by_terraform">
%{ for interface in lb_config ~}
                                            <member>${interface.name}</member>
%{ endfor ~}
                                        </interface>
                                    </from>
                                    <enforce-symmetric-return>
                                        <enabled>yes</enabled>
                                    </enforce-symmetric-return>
                                    <source>
                                        <member>35.191.0.0/16</member>
                                        <member>130.211.0.0/22</member>
                                    </source>
                                    <destination>
                                        <member>any</member>
                                    </destination>
                                    <application>
                                        <member>any</member>
                                    </application>
                                    <service>
                                        <member>any</member>
                                    </service>
                                    <source-user>
                                        <member>any</member>
                                    </source-user>                                    
                                </entry>%{ endif }
                            </rules>
                        </pbf>
                        <nat>
                            <rules tag="Children_added_by_terraform">
%{ for interface in lb_config ~}
                                <entry name="lb-nat-${interface.network_name}" uuid="${uuid()}">
                                    <destination-translation>
                                        <translated-address>${interface.ipv4_address}</translated-address>
                                    </destination-translation>
                                    <to>
                                        <member>${interface.network_name}</member>
                                    </to>
                                    <from>
                                        <member>${interface.network_name}</member>
                                    </from>
                                    <source>
                                        <member>35.191.0.0/16</member>
                                        <member>130.211.0.0/22</member>
                                    </source>
                                    <destination>
                                        <member>${interface.ipv4_loadbalancer}</member>
                                    </destination>
                                    <service>any</service>
                                </entry>
%{ endfor ~}
                            </rules>
                        </nat>
                    </rulebase>
                </entry>
            </vsys>
        </entry>
    </devices>
</config>